<div class="add-event-container container mt-5">
  <h2>Eventos</h2>

  <div class="event-form card-title mb-4">
    <h4>Adicionar Novo Evento</h4>
    <form (ngSubmit)="addEvent()">
      <div class="mb-3">
        <label for="title" class="form-label">Nome do Evento</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="newEvent.title" name="title" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descrição</label>
        <textarea class="form-control" id="description" [(ngModel)]="newEvent.description" name="description" required></textarea>
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Data do Evento</label>
        <input type="date" class="form-control" id="date" [(ngModel)]="newEvent.date" name="date" required>
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
  
  <div class="event-list">
    <h4>Lista de Eventos</h4>
    <div *ngFor="let event of events" class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">{{ event.title }}</h5>
        <p class="card-text">{{ event.description }}</p>
        <p class="card-text">{{ event.date }}</p>
        <button class="btn btn-warning" (click)="editEvent(event)">Editar</button>
        <button class="btn btn-danger" (click)="deleteEvent(event.id)">Excluir</button>
      </div>
    </div>
  </div>
</div>
