.add-event-container {
  h2 {
    color: #000000; 
  }

  .event-form {
    background-color: #ffe4e1; // Fundo rosa suave para o formulário
    padding: 20px;
    border-radius: 10px;

    h4 {
      color: #000000;
    }

    .form-label {
      color: #ff69b4;
    }

    .btn-primary {
      background-color: #ff69b4;
      border-color: #ff69b4;
    }
  }

  .event-list {
    .card {
      border-color: #ff69b4;
      
      .card-body {
        background-color: #ffe4e1;

        .card-title {
          color: #ff69b4;
        }

        .btn-warning {
          background-color: #ff69b4;
          border-color: #ff69b4;
          color: #fff;
        }

        .btn-danger {
          background-color: #ff69b4;
          border-color: #ff69b4;
        }
      }
    }
  }
}
