<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <i class="material-icons white v-middle">home</i> Início
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/calendar" routerLinkActive="active">Calendário</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/notes" routerLinkActive="active">Anotações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-event" routerLinkActive="active">Adicionar Evento</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
