.footer-container {
    background-color: #880e4f;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-container a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-container a:hover {
    color: #f8bbd0;
  }
  