<!-- <footer class="footer">
    <div>
        <span>
            Desenvolvido com 
            <i class="material-icons red v-middle">favorite</i>
            por <strong> Haylla Thamay</strong>
            <span class="text-muted"> &copy; 2024 Agenda Digital. Todos os direitos reservados.</span>
        </span>
    </div>
  </footer> -->



<footer class="footer fixed-bottom bg-light">
    <div class="container text-center">
        <span>
            Desenvolvido com
            <i class="material-icons red v-middle">favorite</i>
            por <strong> Haylla Thamay</strong>
            <span class="text-muted"> &copy; 2024 Agenda Digital. Todos os direitos reservados.</span>
        </span>
    </div>
</footer>