.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; 
  }
  
  .calendar {
    width: 320px;
    background-color: #f5d0e1; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    text-align: center;
    border: 2px solid #4b2e42
  }
  
  .month-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .month-year {
    font-size: 18px;
    font-weight: bold;
    color: #4b2e42; 
  }
  
  .nav-button {
    background-color: #e0a4b5; 
    color: #4b2e42; 
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .nav-button:hover {
    background-color: #c77f92; 
  }
  
  .week-days {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .week-day {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #e0a4b5; 
    color: #4b2e42; 
    font-weight: bold;
    border-radius: 5px;
  }
  
  .calendar-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .calendar-day {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 2px;
    background-color: #f5d0e1; 
    border-radius: 5px;
  }
  
  .day-number {
    color: #4b2e42; 
    font-weight: bold;
  }
  