<div class="calendar-container">
    <div class="calendar">
      <div class="month-header">
        <button class="nav-button" (click)="prevMonth()">Anterior</button>
        <span class="month-year">{{ getMonthName(currentMonth) }} {{ currentYear }}</span>
        <button class="nav-button" (click)="nextMonth()">Próximo</button>
      </div>
      
      <div class="week-days">
        <div class="week-day" *ngFor="let day of weekDays">{{ day }}</div>
      </div>
  
      <div class="calendar-week" *ngFor="let week of weeks">
        <div class="calendar-day" *ngFor="let day of week">
          <span *ngIf="day" class="day-number">{{ day }}</span>
        </div>
      </div>
    </div>
  </div>
  